PORT=5000
NODE_ENV=production
DATABASE_URL="postgresql://user:password@ep-cool-fog-12345.us-east-2.aws.neon.tech/teaml?sslmode=require"
JWT_SECRET="your-256-bit-secret-key-here"
JWT_EXPIRES_IN="7d"
ML_SERVICE_URL="http://127.0.0.1:8000/api/v1"
CLIENT_URL="http://localhost:7000"
